/*　画面サイズが1024px以下はここを読み込む　※PC*/
@media screen and (max-width: 1024px) {

    section {
        margin-top: 20%;
    }

    .wrapper {
        width: 80%;
    }

    #tab__cont {
        height: 50vh;
    }

    .product__img {
        width: 30%;
    }

    .pro__Number {
        width: 30%;
    }


    .product__btn {
        margin: 5% auto 0;
    }

    h4.skill__ttl {
        font-size: 25px;
        margin-top: -10%;
        padding-bottom: 5%;
    }

}

/*　画面サイズが768px以下はここを読み込む　*/

@media screen and (max-width: 768px) {

    #mobile_capture {
        display: none;
    }

    .product__summary {
        margin-bottom: 20%;
    }

    .ph-fill {
        width: 200px;
        height: 200px;
        margin: -200px auto;
    }

    #tab__cont {
        height: 70vh;
    }



}

/*　画面サイズが414px以下はここを読み込む　*/
@media screen and (max-width: 414px) {

    p,
    dt,
    dd {
        font-size: 1.4rem;
    }

    h1 {
        font-size: 2.6rem;
    }

    h1.header__txt {
        right: 25%;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    .modal__content {
        width: 100%;
        padding: 40px 20px;
    }

    .container {
        display: block;
    }

    .T-inner {
        margin: 0 auto;
    }

    ul.h-nav {
        padding: 2% 0;
    }

    li.h-nav__list {
        width: auto;
    }

    ul.h-nav.nav__area {
        display: none;
    }

    .drawer-menu {
        display: inherit;
    }

    .top-commom-be::before {
        /* width: calc(100% - 50%); */
        height: 100px;
        margin: 0 25%;
    }


    ul.sns-list img {
        width: 80%;
    }

    .profile__inner+.sns-list {
        margin: 0 auto;
    }

    .modal__content span.close {
        right: 5%;
    }

    .about__pic img {
        width: 200px;
        height: 200px;
    }

    .profile__wrap {
        padding: 25% 10% 10%;
        margin-top: 200px;
    }

    .profile__wrap>.L-inner.T-inner {
        /*margin: 15% auto;*/
    }

    .profile__wrap>.R-inner.B-inner {
        width: 100%;
        padding: 70% 0 0;
    }

    #profile__ph {
        width: 60%;
    }

    .ph__inner {
        /*border: 2px solid #CFBE9B;*/
    }

    img.ph-fill {
        padding: 2%;
        width: auto;
        height: auto;
        /*border: none;*/
        margin: -200px auto;
    }

    .tab {
        width: 25%;
    }

    .tab__navi,
    .product__label {
        font-size: 1.2rem;
    }

    #tab__cont {
        width: 90%;
        overflow-y: scroll;
    }

    .product__label>li {
        width: 20%;
    }

    .L-cat,
    .R-cat {
        width: 100%;
    }

    dl.summary {
        text-align: left;
    }

    dl.summary>dt,
    dl.summary>dd {
        padding-left: 0.5rem;
    }

    .L-cat>img,
    .R-cat>img {
        width: 100%;
    }

    .L-cat {
        margin-bottom: 10%;
    }

    .slick-prev::before {
        left: 17px;
    }

    .slick-next::before {
        right: 19px;
    }

    .skill__list {
        width: 100%;
    }

    .skill__txt {
        height: 50vw;
        padding: 0 15px;
        margin-bottom: 10%;
    }

    #back-to-top {
        bottom: 16%;
        right: 0;
    }

    nav#footer__nav {
        display: block;
        width: 80%;
        margin: 0 auto;
    }


    #footer__nav>.sns-list {
        width: 100%;
        justify-content: space-around;
    }

    #footer__nav>.sns-list li {
        margin-right: 0;
        justify-content: space-around;
    }

    .f-nav,
    .h-nav {
        padding: 3% 0;
    }

    .f-nav__list:first-child {
        margin-left: 0;
    }

    ul.f-nav {
        margin-left: 0;
        width: auto;
        justify-content: center;
    }

    h1.heading {
        /*padding-bottom: 20%;*/
    }

    #top-main {
        margin-top: 20%;
    }

    #top-main>.L-cat {
        margin-bottom: 0;
    }

    #pc-moc {
        padding-top: 100%;
        position: relative;
        margin-bottom: 20%;
    }

    #product-page_01 .product__btn {
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, 0);
    }

    .bg-inner {
        width: 90%;
        margin: -8% auto 20%;
    }

    p.purpose {
        width: 100%;
    }

    .capture__img {
        width: 80%;
    }

    p.summary__text {
        padding: 0;
    }

    img.BD-Number {
        width: 20%;
        left: calc(50vw - 20% / 2);
        /*センター*/
    }

    #bunner-pc-moc {
        padding-top: 70%;
    }

    .L-cat#bunner_ttl {
        margin-bottom: 10%;
    }

    #winter {
        margin-top: 20%;
    }
}

/****************************　end*/