/***********1024px以上の時(1024px含む)*****************/
@media (min-width: 1024px) {
    .hidden__box {
        margin: 0 6rem 1rem 0;
        width: 50%;
    }
}

/*************1024px以下の時(1024px含む)*****************/
@media (max-width: 1024px) {

    .app__Listitem,
    .main__Listitem,
    .dinner__Listitem {
        padding-left: 0;
    }

    .menu-sec {
        width: 100%;
    }

    #reservation_page .wrapper {
        width: 80%;
    }

    .required {
        width: 30%;
        line-height: 2;
    }

    .table__head {
        text-align: left;
    }
}

/***********769px以上の時(769px含む)********************/

@media (min-width: 769px) {

    .drawer--top .drawer-hamburger,
    .drawer--top.drawer-open .drawer-hamburger {
        display: none;
    }

    .food-menu__txt {
        height: 130px;
        padding-bottom: 10px;
    }

    h1#top-logo {
        margin: 0 auto;
    }

    .listArea {
        width: 80%;
        margin: 0 auto;
    }
}

/*******************768px以可の時***********************/
@media (max-width: 768px) {

    .drawer--top .drawer-hamburger,
    .drawer--top.drawer-open .drawer-hamburger {
        right: 5% !important;
        top: 2% !important;
    }

    .drawer-hamburger {
        padding: 2% 0 !important;
    }

    #index_page .L-arrow,
    #index_page .R-arrow {
        display: none;
    }

    .wrap {
        width: 100%;
    }

    .wrapper_inner {
        padding: 0 5%;
    }

    #globalnavi {
        display: none;
    }

    .head__shop-logo {
        margin: 0;
        padding: 0;
    }

    a.head__shop-logo>img {
        width: 50%;
    }

    h1.head {
        margin-left: 2%;
    }

    header.open_nav {
        width: 100%;
    }

    /*    .btn__wrap {
        margin: 0 2% 0 auto;
    }*/

    .btn__wrap {
        display: none;
    }

    #survis__contants::before {
        margin: 7% 0 0 auto;
    }

    #menu___contants.shadow_box {
        margin-top: 4%;
    }

    .shop-nav__menu-area {
        width: 100%;
        padding: 0;
    }

    .drawer--top .drawer-nav {
        padding: 20px 0;
    }

    .drawer-menu li,
    .headnav_reservation {
        text-align: center;
        margin: 10px auto;
        display: block;
    }

    .drawer-menu li a {
        font-size: 1.4rem;
        color: #060606;
        text-transform: uppercase;
        display: block;
        padding: 10px;
    }

    .headnav_reservation {
        width: 150px;
    }

    .app__item {
        position: relative;
        padding-left: 0;
    }

    #appetizer__area {
        position: relative;
    }

    #main__mainList {
        width: 100%;
    }

    .option__area:nth-child(1) {
        margin-right: 0;
    }

    #reservation_page .wrapper {
        width: 90%;
    }

    .shop-access__area {
        margin: 0;
    }

    #footer_contents {
        width: 100%;
        /*margin: 0 auto;*/
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 5%;
    }

    img.for-ph {
        width: 30%;
    }
}

/* ---------------414px以上の時------------------- */

@media screen and (min-width: 414px) {

    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .col-auto {
        width: 50%;
    }

    .menu-list__inner {
        padding: 0 2rem 0 2rem;
    }

    span.strong__txt {
        font-size: 2rem;
    }
}

/* ---------------414px以下の時------------------- */

@media (max-width: 414px) {

    a.head__shop-logo>img {
        width: 30%;
    }

    h3 {
        margin-top: -20px;
        margin-bottom: 0;
    }

    h5 {
        margin-top: 1rem;
    }

    #foot_nav {
        display: block;
    }

    .other__List {
        width: 100%;
    }

    .next_page_btn,
    .page_top_btn {
        padding: 10% 0;
    }

    #footer_contents {
        /*width: 100%;
        margin: 4% auto -37px;*/
    }

    .shop-nav__menu-area {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .col-auto {
        width: 100% !important;
    }

    .shadow_box>h3 {
        margin-top: 2%;
    }

    .about__inner::after {
        background: url(../images/lotus-blossom.png) no-repeat center 70%/ 50% auto;
    }

    .btn {
        margin: 0 auto;
    }

    p.shop__name {
        background: #fff;
        margin-bottom: 2%;
        padding: 2% 0 2% 2%;
    }

    dl.info__dl {
        padding-left: 2%;
    }

    img#survis__pic {
        margin: 0;
    }

    .title__bg {
        height: calc(90vw * 0.3);
    }

    .title__bg>h2 {
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }

    .title__bg>h2::after {
        width: 40%;
    }

    #survis__contants>ul li {
        height: auto;
    }

    #survis__contants::before {
        display: none;
    }

    #survis__contants>h3 {
        margin-top: 10%;
    }

    #menu___contants.shadow_box {
        margin-top: 2%;
    }

    /*#menu__inner,*/
    #info {
        margin: 2% 0;
    }

    img.for-ph {
        display: none;
    }

    h4.caption__title {
        font-size: 100%;
    }

    .food-menu__area:first-child {
        margin-top: 2%;
    }

    .course-plan__pic>img {
        height: calc(100vw * 0.5);
    }

    .course-plan-wrap dl.info__dl>dd:last-child {
        padding-bottom: 0;
    }

    .access-nav {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }


    .shop-access__inner {
        padding-right: 0;
    }

    .shop-store {
        margin-bottom: 1rem;
    }

    .store-disc {
        padding: 10% 0;
        width: 100%;
    }

    /*.store-disc,*/
    dl.shop-access__dl,
    dl.shop-access__dl dt,
    dl.shop-access__dl dd {
        width: 100%;
    }

    .store-disc::before,
    .store-disc::after {
        height: calc(100vw * 0.1);
    }

    dl.shop-access__dl dt,
    dl.shop-access__dl dd {
        float: none;
    }

    dl.shop-access__dl dd {
        padding-left: 0;
        margin-bottom: 2rem;
    }

    dl.shop-access__dl dt {
        padding-bottom: 0;
    }

    .iframe-wraper {
        border: 1px solid #DBB353;
    }

    .snav__menu-areaList {
        width: 50%;
    }

    #about__contants {
        margin-top: 2rem;
    }

    .more {
        float: none;
        text-align: center;
        display: block;
    }

    .info__caption {
        border: none;
        font-size: 2rem;
    }

    .caption__txt {
        font-size: 60%;
    }

    .unit {
        padding-top: 15%;
        width: 50%;
        margin-bottom: 1.5rem;
        background-size: 70% auto;
        background-position: top center;
    }

    .unit__title {
        font-size: 1.4rem;
    }

    .unit__txt {
        font-size: 1.2rem;
    }

    .food-menu__txt,
    .menu__select {
        margin-bottom: 20px;
    }

    .accessList__address img {
        margin-top: 10px;
    }

    #foot_nav ul li a {
        text-align: center;
    }

    #menu_page .container {
        padding: 0;
    }

    .menu-sec,
    h3#de-title {
        margin-top: 10%;
    }

    #Lu__area {
        padding-top: 0;
    }

    img.oriental,
    img.ice-ph,
    .access-common__ph {
        height: calc(100vw * 0.5);
    }

    h4.Ltitle,
    h4.Rtitle {
        background: #ffff;
    }

    #mobile_app-list {
        text-align: center;
    }

    .mobile_Lu-price {
        padding-left: 2rem;
    }

    #mobile_app-list {
        padding-top: 10%;
    }

    .app__memo {
        padding-bottom: 5%;
    }

    #pad-ph__area {
        padding-bottom: 0;
    }

    #main__area {
        padding-top: 20%;
    }

    .main__Listitem {
        padding-left: 1rem;
    }

    .pull-right {
        padding-left: 0;
        padding-bottom: 0;
    }

    .rice_memo {
        padding: 2rem 0 2rem 0;
    }

    .option__area {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: auto;
        margin: 0 0 2.44rem;
    }

    .option__price {
        width: 25%;
    }

    .listArea,
    .dinner__area {
        padding-top: 2rem;
    }

    .drink__Listitem {
        padding-left: 0;
    }

    table,
    tbody,
    tr,
    th,
    td,
    caption {
        display: block;
    }

    .explain {
        width: 100%;
    }

    h2#explain__head::before,
    h2#explain__head::after {
        width: 50%;
    }

    h2#explain__head::before {
        left: -50%;
    }

    h2#explain__head::after {
        right: -50%;
    }

    .explain__Message {
        padding-left: 0;
        line-height: 2rem;
        font-size: 1.2rem;
    }

    .reserv__telList {
        width: 40%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        /*margin-right: 2rem;*/
        padding-left: 0.5rem;
    }

    .reserv__telList:first-child {
        /*margin-left: 2rem*/
    }

    .reserv__telList::before {
        width: 5px;
    }

    .shop-name {
        font-size: 1.3rem;
    }

    .Store-name,
    .reserv__tellnumber {
        font-size: 1rem;
    }

    .table__head {
        height: auto;
        padding: 1rem 0 1rem 2rem;
        line-height: 4rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: #ffff;
        width: auto;
    }

    .required {
        width: 10%;
        padding: 0;
    }

    .table__date {
        padding: 2rem 0;
    }

    .hidden__box {
        margin: 0 1rem 1rem 0;
        width: 50%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .hidden__box:nth-child(even) {
        padding-left: 1rem;
    }

    .toggle-radio-label {
        font-size: 1.4rem;
        display: block;
    }

    .course__price {
        float: left;
        padding-left: 0;
        text-indent: 2rem;
    }

    select#shoplist,
    input,
    select,
    textarea {
        font-size: 80%;
    }

    input,
    textarea {
        width: 100%;
    }

    .attention {
        padding: 0 2rem;
    }

    button#Confirmation {
        width: 100%;
    }
}