* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    /*1remが10px*/
}

body {
    font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-style: normal;
    line-height: 1.6;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #f8f8f8;
}

a {
    text-decoration: none;
}

.link {
    color: #A13B2B;
    font-size: 1.2rem;
}

.link:hover {
    text-decoration: underline;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

ul {
    list-style-type: none;
}

p {
    font-size: 1.6rem;
    text-align: center;
}

h2, h3 {
    width: 50%
}

h2, h3, h5, h6, .footarea span {
    font-family: 'Cambria',
        '游ゴシック Medium',
        'Athelas',
        'Arial',
        'Arial Black',
        sans-serif;
}

h3 {
    font-size: 3rem;
    letter-spacing: 1px;
    margin: 0 0 2rem;
    position: relative;
}

h3::before {
    left: 0;
}

h3::before {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-top: 1px solid rgb(162 153 153 / 35%);
    position: absolute;
    top: 24px;
    z-index: -1;
}

.shadow_box>h2 {
    color: #DBB353;
    font-size: 2rem;
}

.shadow_box>h3 {
    position: relative;
}

h3 > span {
    background-color: #f8f8f8;
}

h4 {
    font-family: 'Courier', 'Athelas', 'Arial', 'Arial Black', sans-serif;
    font-size: 3rem;
}

h5 {
    font-size: 2rem;
    margin-top: 20px;
    font-family: 'Cambria', 'Athelas', 'Arial', 'Arial Black', sans-serif;
}

h2,
h3,
h4,
h5 {
    text-align: center;
}

section {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.wrap {
    width: 60%;
    max-width: 100%;
    margin: 0 auto;
}

dl.info__dl {
    font-size: 1.6rem;
}


/*ナビゲーション*/

header.open_nav {
    width: 60%;
    margin: 0 auto;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    padding: 2% 0;
    /*左右にpaddingをいれるとスクロールバーが出る*/
}

h1.head {
    display: block;
}

#globalnavi {
    height: 100px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

.globalnavi__manu-area {
    display: table;
}

.gnav__menu-areaList {
    display: table-cell;
    padding: 0 20px;
    width: 100px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.dotted-line {
    color: #060606;
    padding: 0 20px 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: block;
    position: relative;
}

.dotted-line::before {
    position: absolute;
    content: "";
    border-top: 2px dotted #060606;
    border-bottom: 2px dotted #060606;
    top: 20%;
    bottom: 20%;
    left: 10%;
    right: 10%;
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
    opacity: 0;
}

.dotted-line:hover::before,
.current::before {
    opacity: 1;
    top: 10%;
    bottom: 10%;
}

.dotted-line:hover {
    opacity: 1;
}

/*iphon用のナビ*/
.headnav_reservation {
    background-color: #DBB353;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    line-height: 4rem;
}

/* -----------②ショップナビ----------------------- */


.row-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.shop-nav__menu-area {
    width: 80%;
    margin: 0 auto;
}

snav__menu-areaList {
    width: 200px;
}

.snav__menu-areaList a {
    text-align: center;
    color: #bcb09f;
    padding: 20px;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: block;
    position: relative;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.snav__menu-areaList a:hover {
    color: #060606;
}

/*共通のボタン*/

.btn {
    border: 1px solid #A13B2B;
    width: 270px;
    margin: -7% 0 0 auto;
    position: relative;
    overflow: hidden;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;

}

.btn a {
    display: block;
    font-family: 'Cambria', 'Athelas', 'Arial', 'Arial Black', sans-serif;
    font-size: 1.6rem;
    color: #A13B2B;
    font-weight: 700;
    text-align: center;
    line-height: 4rem;
    padding: 0 40px;
    letter-spacing: 1px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.btn a:hover {
    color: #fff;
}

.btn:hover {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

.btn ::before {
    content: "";
    display: block;
    position: absolute;
    background: #A13B2B;
    width: 100%;
    height: 100%;
    left: -100%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    z-index: -1;
}

.btn :hover::before {
    left: 0;
}

.announce__txt,
.spotnews__txt,
.food-menu__txt,
.menu__select,
#about_page .about__txt p {
    text-align: justify;
}

/*btn-book*/

.btn__wrap {
    margin-left: auto;
}

.btn__wrap>p {
    font-size: 1.3rem
}

.btn__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 4%;
}

#contact__btn {
    border: 1px solid #2b78a1;

}

#contact__btn>a {
    color: #2b78a1;
}

#reserv__btn {
    border: 1px solid #DBB353;

}

#reserv__btn>a {
    color: #DBB353;
}


.btn-book:not(:last-child) {
    margin-right: 10%;
}

.btn-book {
    width: 150px;
    min-width: 150px;
    position: relative;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 3rem;
    overflow: hidden;
    -webkit-transition: all .5s cubic-bezier(0.74, -0.22, 0.55, 0.97);
    -o-transition: all .5s cubic-bezier(0.74, -0.22, 0.55, 0.97);
    transition: all .5s cubic-bezier(0.74, -0.22, 0.55, 0.97);
    z-index: 1;
}

.btn-book>a {
    display: block;
    padding: 3px;
}

.btn-book#contact__btn::before {
    background: #77b9ad;
}

.btn-book#reserv__btn::before {
    background: #c09c43;
}

.btn-book#contact__btn::after {
    background: #539197;
}

.btn-book#reserv__btn::after {
    background: #d4ab46;
}

.btn-book::before,
.btn-book::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    transition: transform 0.3s, -webkit-transform 0.3s;
    z-index: -1;
}


#contact__btn>a:hover,
#reserv__btn>a:hover {
    color: #ffffff;
}

.btn-book:hover::before,
.btn-book:hover::after {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.btn-book:hover::after {
    -webkit-transition-delay: 0.175s;
    -o-transition-delay: 0.175s;
    transition-delay: 0.175s;
    /*after要素のみhover時の開始を遅らせる*/
}

#mainwrap {
    width: 100%;
}

/*#about__contants*/

.about__inner {
    position: relative;
    width: 100%;
    padding-top: 15%;
    z-index: 1;
}

.about__inner::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/lotus-blossom.png) no-repeat 5% 10%/ 35% auto, url(../images/Circle_big.png) no-repeat top right / 20% auto, url(../images/Circle_small.png) no-repeat 60% 100% / 10% auto;
    top: 0;
    z-index: -1;
}

.about__inner>p {
    text-align: left;
    width: 70%;
    margin-left: auto;
}

.about__inner>p:nth-child(1) {
    margin-top: -5%;
}

.about__inner>p:nth-child(2) {
    margin-top: 2%;
}

span.strong__txt {
    font-weight: 700;
}

/*#contact__contants*/

.contact__inner {
    width: calc(100% / 3);
    margin-top: 2%;
}

p.shop__name {
    text-align: left;
    padding-bottom: 3rem;
}

dl.info__dl>dt {
    color: #DBB353;
    letter-spacing: 1px;
    margin-bottom: 0.6rem;
}

dl.info__dl>dd {
    padding-bottom: 1.2rem;
}



/*survis__contants*/

.title__bg {
    background-color: #DBB353;
    height: calc(90vw * 0.1);
    position: relative;
    z-index: 1;
}

.title__bg>h2 {
    color: #ffffff;
    font-size: 3rem;
    transform: translate(0, -50%);
    position: absolute;
    top: 50%;
    /*left: 20%;*/
}

.title__bg>h2::after {
    content: '';
    display: block;
    width: 20%;
    height: 4px;
    background-image: linear-gradient(90deg, #ffff, #ffff 75%, transparent 75%, transparent 100%);
    background-size: 20px 3px, 100% 3px;
    border: none;
    margin: 0 auto;
}

#survis__contants > h3 {
    margin-top: -7%;
}

#survis__contants {
    margin-top: -10%;
}

#survis__contants::before {
    content: "";
    display: block;
    background: url(../images/mortar.jpg) no-repeat bottom center / cover;
    margin: -7% 0 0 auto;
    z-index: 2;
    position: relative;
    padding-top: 30%;
    width: 50%;
}

#survis__contants>ul {
    font-size: 1.6rem;
    margin: 7% 0 4%;
}

#survis__contants>ul li {
    padding: 0 0 1%;
    height: 6rem;
}

#survis__contants>ul li::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(90deg, transparent, transparent 50%, #fff 50%, #fff 100%), linear-gradient(90deg, #69d2e7, #a7dbd8, #e0e4cc, #f38630, #fa6900);
    background-size: 20px 3px, 100% 3px;
    border: none;
}

#info_contents {
    margin-top: 0;
}

/*#menu___contants*/

#menu___contants {
    margin-bottom: 20%;
}

#bg__pic {
    background-image: url(../images/menu__pic.png);
    background-position: 80% center;
    background-repeat: no-repeat;
    background-size: 13% auto;
}

#info__lunch, #info__dinner {
    width: 50%;
    /*height: calc(55vw * 0.3);*/
    position: relative;
    padding-top: 30%;
}

#info__lunch {
    background: url(../images/info_lunch.jpg) no-repeat center / cover;
    margin-right: 2%;
}

#info__dinner {
    background: url(../images/info_dinner.jpg) no-repeat center / cover;
}

h4.caption__title {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 2%;
    text-align: center;
    cursor: pointer;
    color: #fff;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    border: 1px solid #fff;
    width: 50%;
    
}


.info__tab {
    color: #a29999;
    border: 1px solid #a29999;
    padding: 2px 4px;
    display: inline-block;
    border-radius: 30px;
    width: 10%;
    min-width: 70px;
    text-align: center;
}

.info__tab:nth-child(1) {
    margin-right: 2%;
}

#info > dl.info__dl {
    width: calc(100% / 2);
}

#info > dl.info__dl:nth-child(1) {
    margin-right: 2%;
}

.food-menu__area {
    width: calc(100% / 3);
    margin-right: 2%;
    /*padding-top: 4%;*/
    box-sizing: border-box;
}

#menu___contants > .container {
    align-items: stretch;
    -ms-flex-line-pack: stretch;
    margin-top: 2%;
} 

.food-menu__area:last-child {
    margin-right: 0;
}

.food-menu__title {
    margin: 2rem 0 2rem;
    font-size: 180%;
}

.food-menu__txt {
    font-size: 1.4rem;
}

.food-menu__pic, .course-plan__pic {
    position: relative;
    overflow: hidden;
    padding-top: 60%;
}

.food-menu__pic > img, .course-plan__pic > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu__select {
    font-size: 1.2rem;
    border: 3px dotted #FFF9C4;
    margin-top: 1rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1rem;
}

.course-plan__Listitem,
.course-plan__desc {
    font-size: 1.4rem;
    line-height: 2;
}

.course-plan__Listitem::before,
.main__Listitem::before,
.app__Listitem::before,
.dinner__Listitem::before,
.drink__Listitem::before {
    display: block;
    content: "・";
    color: #DBB353;
    font-weight: bold;
    float: left;
    margin-right: 5px;
}


.course-plan__desc {
    padding: 0 2rem 2rem;
}

.select-plan__area {
    background: #F8F8F8;
    margin-bottom: 20px;
}

.course-plan__area {
    width: 50%;
    margin-right: 2%;
}

.course-plan__area:last-child {
    margin-right: 0;
}

.select-plan__area h5 {
    padding-top: 20px;
}

.select-plan__area p .link {
    font-size: 1.6rem;
}

.bf {
    position: relative;
    padding-top: 5rem;
    width: 40%;
    display: block;
    margin: 0 auto;
}

.bf::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/titlle_img_01.png) no-repeat;
    background-position: center bottom;
    width: 100%;
    height: 100%;
}

#about_page .wrapper,
#menu_page .wrapper {
    background: #fff;
}

#shopOrigin__area,
#shopDisc__area {
    width: 80%;
}

#mainwrap,
#shopOrigin__area,
#shopDisc__area {
    margin: 0 auto;
}

/*section */
.menu-sec,
.shadow_box {
    /*background-color: #ffffff;*/
    margin-bottom: 5rem;
    margin-top: 10rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* --------------フッターエリア-   ------------------ */


/* ------共通------- */

#footer_contents {
    width: 60%;
    margin: 0 auto -50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.footarea {
    position: relative;
    width: 50%;
    height: auto;
    overflow: hidden;
}

.footarea:before {
    content: "";
    display: block;
    padding-top: 50%;
}

/* ------leftbox------- */
.left_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #bca264;
    -webkit-transition: -webkit-transform .5s linear;
    transition: -webkit-transform .5s linear;
    -o-transition: transform .5s linear;
    transition: transform .5s linear;
    transition: transform .5s linear, -webkit-transform .5s linear;
}

.left_box:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

/* ------nextbox------- */

.next_box {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #DBB353;
    -webkit-transition: -webkit-transform .5s linear;
    transition: -webkit-transform .5s linear;
    -o-transition: transform .5s linear;
    transition: transform .5s linear;
    transition: transform .5s linear, -webkit-transform .5s linear;
}

.next_box:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.next_box::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.toabout::before {
    background: url(../images/menu_next_befor.jpg)no-repeat;
    background-size: 100% auto;
}

.tomenu::before {
    background: url(../images/about_next_befor.jpg)no-repeat;
    background-size: 100% auto;
}

/* ------ボタン------- */

.next_page_btn,
.page_top_btn {
    color: #fff;
    display: block;
    border: 1px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.5rem;
    padding: 17% 0;
    width: 80%;
    min-width: 50px;
    text-transform: capitalize;
}

/* --------------フッタ-------------------- */


footer {
    padding: 10% 0;
    background: #dbb353;
    text-align: center;
}

#foot_nav {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 20px;
}

#foot_nav ul li {
    display: inline-block;
}

#foot_nav ul li a {
    padding: 20px;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: block;
    color: #f8f8f8;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

#foot_nav ul li a:hover {
    color: #877171;
}

#foot_nav .headnav_reservation {
    line-height: 2rem;
}

.copyright {
    font-size: 1.6rem;
    color: #f8f8f8;
}

/******aboutpage********/
#about_page .container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#about_page h3 .aboutme {
    font-size: 2rem;
    padding-left: 1rem;
    vertical-align: middle;
}

#about_page h3 {
    padding-top: 80px;
}

.about__txt p {
    padding: 3rem 0;
    display: inline-block;
    text-align: left;
}

.pull-right,
.pull-left {
    width: 50%;
    overflow: hidden;
    padding-bottom: 10%;
}

.pull-left {
    padding-right: 2rem;
}

.pull-right {
    padding-left: 2rem;
}

.sub-image {
    position: relative;
    background-image: url(../images/Circle_big.png),
        url(../images/Circle_small.png);
    background-repeat: no-repeat;
    background-position: 100px 0, 350px 60px;
    width: 90%;
    height: 100%;
    padding-top: 250px;
}

.sub-image::after {
    position: absolute;
    display: block;
    content: "";
    top: -8rem;
    background-image: url(../images/lotus-blossom.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30rem;
    width: 90%;
    height: 100%;
}


.sub-ph__area {
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    margin-bottom: 10%;
}

.about__txt {
    background: rgba(255, 255, 255, 0.7);
    padding: 2% 0;
}

.about__txt.R-txt {
    margin-left: auto;
}

.txt-inner {
    padding: 2%;
    width: 60%;
}

.txt-inner p {
    border: 1px solid #dbb353;
    padding: 2%;
}

.mo-ph__area {
    background: url(../images/mortar.jpg) no-repeat 100% 0 / contain;
}

.food-ph__area {
    background: url(../images/food.jpg)no-repeat 0 0 / contain;
}

.veg-ph__area {
    background: url(../images/vegetables.jpg)no-repeat 100% 0 / contain;
}


/******aboutpage終わり********/
/******menupage*****::::::***/


#menu_page .container {
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin-bottom: 2%;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

h3.app__Lutitle {
    width: 100%;
    position: relative;
    margin-bottom: 0;
}

h3.dinner__title {
    width: 100%;
    z-index: 1;
    margin-bottom: 0;
}

h3#de-title {
    width: 100%;
    z-index: 1;
}

#menu_page .pull-right,
#menu_page .pull-left {
    padding-bottom: 0;
}

#Lu__area {
    padding-top: 10%;
    position: relative;
}

img.for-ph {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

img.oriental, img.ice-ph {
    height: 242px;
    object-fit: cover;
}

/*パッタイ*/
#pad-ph__area {
    margin-bottom: 0;
}

.app__Luprice {
    font-weight: 700;
}

.tax {
    font-size: 1.3rem;
    padding-left: 0.5rem;
}

.app__memo {
    font-weight: 500;
    padding-bottom: 0.5rem;
}

.app__item {
    
}

#app__Listarea {
    line-height: 1.7;
    clear: both;
    margin-top: 2rem;
    text-align: center;
}

.memo {
    display: block;
    font-size: 80%;
    padding: 0.5rem 0 0.5rem 1.5rem;
}

h4.Ltitle,
h4.Rtitle {
    font-size: 2.5rem;
    font-family: 'Cambria', 'Athelas', 'Arial', 'Arial Black', sans-serif;
}


.singha-ph {
    background: url(../images/singha.png)no-repeat;
}

.cocktail-ph {
    background: url(../images/cocktail.png)no-repeat;
}

.wine-ph {
    background: url(../images/wine.png)no-repeat;
}

.coffe-ph {
    background: url(../images/coffe.png)no-repeat;
}

.mangolassie-ph {
    background: url(../images/mangolassie.png)no-repeat;
}

.sub-ph {
    background-size: 20% auto;
    background-position: bottom;
    margin-bottom: 2rem;
}

.rice_memo {
    color: #A13B2B;
    padding-top: 1rem;
}

.course__price,
.detail_memo {
    display: block;
}

.detail_memo {
    font-size: 50%;
    padding-bottom: 2%;
}

.course__memo {
    display: block;
    font-size: 1.3rem;
    padding-bottom: 1rem;
}

.app__Lutitle {

}

.app__Listitem {
    display: inline-block;
    text-align: left;
    width: 80%;
}

.main__Listitem,
.app__Listitem {
    padding-bottom: 0.5rem;
}

#main__item,
#pad-ph__area {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.dinner__Listitem,
.drink__Listitem {
    padding-bottom: 1.5rem;
}

.listArea {
    line-height: 2rem;
    font-size: 1.3rem;
}

.dinner__Listitem,
.drink__Listitem {
    clear: both;
}

span.price {
    float: right;
}

.option__title {
    font-size: 1.8rem;
    letter-spacing: 0.5px;
    width: 35%;
    background: #f8f8f8;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: calc(100% - (35% * 2));
    top: -1.44rem;
    /*(font-size * line-height)/2　= 1.44*/
    /*option__titleを-1.44上にあげる事で線の中央に配置*/
}

.option__area {
    width: 100%;
    position: relative; 
    padding: 2rem 0;
   margin: 0 4%;
}

.option__area::before, .option__area::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(90deg, #DBB353, #DBB353 75%, transparent 50%, transparent 100%);
    background-size: 23px 3px, 100% 3px;
    position: absolute;
}

.option__area::before {
    top: 0;
}

.option__area::after {
    bottom: 0;
}

.option__List {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.3rem;
}

.option__price,
.option__Listitem {
    width: 50%;
}

.option__Listitem {
    padding: 0 2% 0 2%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.option__price {
    text-align: right;
    float: right;
}


#centerWrap {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.other__item {
    margin-bottom: 2rem;
}

.side-img {
    float: right;
}

#whisky-img {
    margin-top: -20rem;
}

.soft-drinklist_item {
    margin-bottom: 1rem;
}

.soft-drinklist_item:nth-child(3) {
    margin-bottom: 0;
}

.drink_memo {
    color: #A13B2B;
    font-size: 80%;
    padding-top: 1rem;
    clear: both;
}

#cofee-img {
    margin-top: -30rem;
}

.tocontact::before {
    background: url(../images/contact_next_befor.jpg)no-repeat;
    background-size: 100% auto;
}

/******menupage終わり********/

/******contactpage********/

h3.shop-access__head {
    width: 100%;
}

section#jiyugaoka-store {
    margin-bottom: 100px;
}

.contact__btn > .btn {
    margin: 0 auto;
}

.shop-access__inner {
    padding: 0;
}

.access-common__ph {
    width: 100%;
    height: 256px;
    object-fit: cover;
}

.shop-store {
    display: block;
    font-size: 50%;
}

.store-disc {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
    position: relative;
}

.store-disc::before,
.store-disc::after {
    content: '';
    display: block;
    position: absolute;
    width: 30%;
    height: 30px;
    /*heightとstore-discのpadding-topの数値を合わせるとずれない*/
}

.store-disc::before {
    background: url(../images/titlle_img_01.png)no-repeat bottom / contain;
    top: -2px;
    right: 0;
}

.store-disc::after {
    background: url(../images/titlle_img_02.png)no-repeat left top / contain;
    bottom: -2px;
    left: 0;
}

.store-disc p {
    text-align: justify;
    border-top: 1px solid #DBB353;
    border-bottom: 1px solid #DBB353;
    padding: 1rem 0;
}

.shop-access__date {
    padding: 2%;
    font-size: 1.4rem;
    background: #ffff;
    border-left: 2px solid #DBB353;
    margin: 4%;
}

dl.shop-access__dl {
    width: 80%;
    margin-left: 4%;
}

dl.shop-access__dl dt {
    float: left;
    clear: both;
    text-align: left;
    padding-bottom: 1rem;
    width: 20%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 1px;
}


.shop-access__dl dd {
    width: 80%;
    float: right;
    padding-left: 10%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
}


.map-link,
.access-link {
    display: block;
    color: #2212a9;
    text-decoration: underline;
}

.iframe-wraper {
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 3px solid #DBB353;
    width: 100%;
}

iframe {
    width: calc(100% - 5px * 2);
    padding: 5px;
}

.ggmap iframe,
.ggmap object,
.ggmap embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#contact_page footer {
    padding: 5% 0;
}

/******contactpage終わり********/

/******reservationpage********/

.explain {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

h2#explain__head {
    font-size: 2rem;
    padding: 1rem 0 2rem;
    /*装飾の為のCSS*/
    position: relative;
    display: inline-block;
}

h2#explain__head::before,
h2#explain__head::after {
    content: "";
    display: block;
    width: 200px;
    height: 4px;
    border-top: 1px solid rgb(162 153 153 / 35%);
    border-bottom: 1px solid rgb(162 153 153 / 35%);
    position: absolute;
    top: 50%;
    /*   top: 50%;で上下均等に */
    margin-top: -7px;
    /*   margin-top: -7px;で垂直に */
}

h2#explain__head::before {
    left: -224px;
}

h2#explain__head::after {
    right: -224px;
}

.explain__Message {
    font-size: 1.4rem;
    line-height: 3rem;
    text-align: left;
    padding-left: 3rem;
    display: inline-block;
    margin-bottom: 2rem;
}


.reserv__telList {
    text-align: center;
    position: relative;
    padding: 0.5rem 0 0.5rem;
    border-bottom: 1px dotted #A13B2B;
    width: calc(100% / 3);
    margin-right: 2%;
}

.reserv__telList::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background: #A13B2B;
    float: left;
}

.reserv__tellnumber {
    font-size: 1.4rem;
    color: #A13B2B;
}

form {
    padding: 20px 0 100px;
}

caption {
    font-size: 2rem;
    font-weight: 1000;
    padding: 2rem 0 2rem;
}

.shop-name {
    font-family: 'Cambria',
        '游ゴシック Medium',
        'Athelas',
        'Arial',
        'Arial Black',
        sans-serif;
    font-weight: 700;
}

.Store-name {
    display: block;
    font-size: 1.3rem;
}

/*ラジオボタン*/

.toggle-radio {
    display: none;
}

.toggle-radio-label {
    cursor: pointer;
    margin-right: 1em;
    position: relative;
    padding-left: 18px;
    font-size: 16px;
}

.toggle-radio-label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #a29999;
    width: 16px;
    height: 16px;
    background-image: -o-linear-gradient(330deg, #fdfbfb 0%, #ebedee 100%);
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    -webkit-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.toggle-radio-label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    background-color: #A13B2B;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

.toggle-radio:checked+.toggle-radio-label:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}


.course__price,
.course__memo {
    color: #A13B2B;
    text-align: left;
    display: inline-block;
}

.course__price {
    font-size: 1.3rem;

}

.course__memo {
    font-size: 1.2rem;
}

.checkBox__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.hidden__box .hidden__show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}

.hidden__show {
    text-align: center;
}

.hidden__box input:checked~.hidden__show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}



.reserv__table {
    border-collapse: collapse;
}

.table__head,
.table__date {
    border-bottom: 1px solid #eee;
}

.table__date {
    padding: 20px;
}

.focused:invalid {
    -webkit-box-shadow: 1px 1px 10px 0px #f91c0b;
    box-shadow: 1px 1px 10px 0px #f91c0b;
}

.table__head {
    width: 50%;
    height: 5rem;
    line-height: 5rem;
    padding: 2rem 1rem 2rem 8rem;
    text-align: left;
}

/*common*/

select,
input,
textarea {
    outline-style: solid;
    outline-width: 1px;
    outline-color: #a29999;
    background-image: -o-linear-gradient(330deg, #fdfbfb 0%, #ebedee 100%);
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    padding: 10px;
    border: none;
}

select:focus,
input:focus,
textarea:focus {
    outline: none;
    -webkit-box-shadow: 0 0 5px #564e4e;
    box-shadow: 0 0 5px #564e4e;
}

/*テキストエリアのカスタマイズ*/
#reservation_page select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    width: 100%;
}

.pull-label {
    position: relative;
}

.pull-label::after {
    content: "";
    display: block;
    position: absolute;
    top: 20%;
    right: 10px;
    width: 15px;
    height: 15px;
    background: url(../images/arrow.png) 0 0 no-repeat;
}

/*input type="date"のカスタマイズ*/

/* スピンボタン（上下ボタン）を非表示 */
input[type="date"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* カレンダーのインジケータ（▼）を非表示にして画像を挿入 */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    position: relative;
    background: url(../images/arrow.png) 0 0 no-repeat;
}

.comment {
    display: block;
    color: #A13B2B;
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

.attention {
    font-size: 1.2rem;
    color: #A13B2B;
    text-align: left;
    line-height: 2;
    margin: 5rem 0 5rem;
}

.required {
    font-size: 1rem;
    margin-left: 1rem;
    background: #A13B2B;
    color: #fff;
    padding: 0.5rem;
    text-align: center;
}

button#Confirmation {
    display: block;
    margin: 0 auto;
    width: 25%;
    padding: 2rem;
    color: #fff;
    background: #A13B2B;
    border: solid 2px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 0 3px #A13B2B;
    box-shadow: 0 0 0 3px #A13B2B;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-size: 1.6rem;
    cursor: pointer;
}

button#Confirmation:hover {
    opacity: 0.5;
}